.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 92px 49.5px;
}

.menu__links-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__link {
  border-bottom: 1px solid #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.16;
  text-decoration: none;
  list-style: circle;
}

.menu__link_active {
  border: none;
}

.menu__links-list_place_header {
  display: flex;
  gap: 32px;
  list-style: circle;
}

.menu__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  width: 138px;
  margin: auto;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  max-width: 240px;
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
}

.address__link {
  width: fit-content;
  border-bottom: 1px solid #000;
  text-decoration: none;
}

.accent-span {
  display: block;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

.cover {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: auto;
  padding: 165px 50px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background-color: #000;
}

.cover__title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  color: #fff;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_right {
  align-self: end;
}

.aligned-text_center {
  align-self: center;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 2;
  display: flex;
  align-self: end;
  padding-top: 125px;
  color: #fff;
}

.cover__description-text {
  align-self: center;
  padding-right: 78px;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 10px 32px;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-size: 22px;
  line-height: 1.27;
  text-transform: uppercase;
  background-color: transparent;
}

.lots {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 180px 50px;
}

.lots__heading {
  padding: 0 40px 27px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  list-style: none;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.lots__card-list-item {
  min-height: 450px;
}

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
  max-width: 430px;
  height: 100%;
  padding: 50px 40px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card__title {
  z-index: 2;
  font-size: 22px;
  line-height: 1.18;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  z-index: 2;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding: 31px 40px 0;
  font-size: 20px;
  line-height: 1.15;
  text-decoration-skip-ink: none;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 0 15px;
  width: 100%;
  padding: 0 50px;
}

.about__column {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.about__logo {
  justify-self: center;
  width: 240px;
  border-radius: 50%;
  padding: 63px 46px;
  background-color: #000;
}

.about__title {
  align-self: center;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.175;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 180px 50px 90px;
}

.footer__address {
  justify-self: start;
}

.menu_place_footer {
  justify-self: center;
  text-align: center;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-between;
  gap: 48px;
  list-style: none;
}

.footer__social-link {
  display: block;
  width: 48px;
}
